/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Header */
h1 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #333;
}

.title {
    position: fixed;
    top: 0;
    border: 3px solid blue;
    margin-buttom: 67px;
}

.stars-list {
    margin:20px;
}

/* List styling */
.people-list {
    list-style-type: none;
}

.person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.name {
    font-size: 18px;
    color: #333;
}

.stars {
    font-size: 18px;
    color: gold;
}
